@font-face {
    font-family: "Manrope-Regular";
    src: url(../fonts/Manrope/Manrope-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Manrope-Medium";
    src: url(../fonts/Manrope/Manrope-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Manrope-Semibold";
    src: url(../fonts/Manrope/Manrope-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: "Manrope-Bold";
    src: url(../fonts/Manrope/Manrope-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Manrope-Light";
    src: url(../fonts/Manrope/Manrope-Light.ttf);
    font-weight: 800;
} 
 
 